.a{
  border-width: 4px ; border-style: groove ; border-color: aqua ; align-items:center ; text-align: center; color: red ; background-color: blue ; 
}
tr{
    
    color: red ; background-color: aqua ; border-color: chartreuse ; border-width: 4em; 
    resize: horizontal




}